*
!*/
!public/pictures/home-decor-1.jpg
!public/pictures/home-decor-2.jpg
!public/pictures/home-decor-3.jpg
!public/profile/team-1.jpg
!public/profile/team-2.jpg
!public/profile/team-3.jpg
!.gitignore